@media (max-width: 640dvh){
    .cabecalho{
        margin-top: 5px;
        padding: 15px 0;
    }

    .personagens-slider{
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta{
        width: 20px;
        height: 20px;
        padding: 20px;
    }

    .lista-personagens{
        height: 480px;
    }

    audio {
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 5px;
        margin: 3px 23px auto ;
        padding: 1% 7%;
        border-radius: 70%;
        scroll-padding-block: initial;
        display: block;
    }
    
}